<ion-header>
  <ion-toolbar>
    <ion-title>Select Elevation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Floor</ion-label>
    <ion-select [(ngModel)]="selectedElevation" (ionChange)="loadArContent()">
      <ion-select-option value="0">0</ion-select-option>
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
    </ion-select>
  </ion-item>

  <ng-container *ngIf="arContentUrl">
    <iframe [src]="arContentUrl" style="position:absolute; width: 100%; height: 100%; border: none;"></iframe>
  </ng-container>
  <ng-container *ngIf="!arContentUrl">
    <ion-item>
      <ion-label >Select the floor you are on to load the AR content.</ion-label>
    </ion-item>
  </ng-container>
</ion-content>