.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .register-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px; // Adjust based on your design needs
    margin: auto;
  }
  
  .register-content {
    padding: 20px;
    
    h1, p {
      text-align: center;
    }
  
    .other-options {
      text-align: center;
    }
  }
  
  .illustration img {
    max-width: 100%;
    border-radius: var(--ion-border-radius);
  }
  