<ion-header>
  <ion-toolbar>
    <ion-title>
      Uni Navigator
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="wrapper">
    <div class="text-wrapper">
      <div class="title">
        <h1><span class="text-gradient">Welcome</span> to the </h1>
        <h1 class="text-gradient">Uni Navigator</h1>
      </div>
      <p class="description">
        Navigate your university campus effortlessly with our intuitive campus navigation app.
        Whether you're a new student, faculty member, or visitor, our app provides you with all the tools you need to explore and navigate our campus with ease.
      </p>
      <ion-button color="primary" expand="block" (click)="get_started()">
        <ion-icon slot="start" name="arrow-forward"></ion-icon>
        Get Started
      </ion-button>
    </div>
  </div>
</ion-content>
