<div class="wrapper">
    <div class="text-wrapper">
        <div class="title">
            <h1><span class="text-gradient">Welcome</span> to the </h1>
            <h1 class="text-gradient">Uni Navigator</h1>
        </div>
        <div>
            <p class="description">Navigate your university campus effortlessly with our intuitive campus navigation app.
            Whether you're a new student, faculty member, or visitor, our app provides you 
            with all the tools you need to explore and navigate our campus with ease.</p>
        </div>
        <div>
            <button nz-button nzType="primary" nzSize="large" nzShape="round" (click)="get_started()">
                <span nz-icon nzType="right" nzTheme="outline"></span>
            </button>
        </div>
    </div>
    <div class="hero-wrapper">
        <img src="../../../assets/images/hero_image.png" alt="Hero Illustration" width="600px" height="600px">
    </div>
</div>